/* ===================================================================== */
/* Table 元件相關樣式 */
/* ===================================================================== */

:root {
    --border-color: #ddd;
    --header-footer-bg: #f9f9f9;
    --highlight-color: #6f70bb;
    --no-records-color: red;
    --input-bg: #ecf7ef;
    --font-size-normal: 100%;
    --font-size-large: 120%;
}

table.ztTable {
    border: 1px solid var(--border-color);
    border-collapse: collapse; /* 合併邊框 */
    width: 100%;
    overflow-y: auto; /* 啟用垂直滾動條 */
}

table.ztTable thead,
table.ztTable tfoot {
    border: 1px solid black;
    font-weight: bold;
    line-height: 1.5; /* 使用相對單位 */
    text-align: center;
    background-color: var(--header-footer-bg);
}

table.ztTable tbody {
    line-height: 1.5; /* 使用相對單位 */
}

table.ztTable th {
    position: sticky;
    top: 0; /* 固定在容器的頂部 */
    z-index: 1; /* 確保標題欄位在內容上方 */
}

table.ztTable caption {
    color: var(--highlight-color);
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

table.ztTable tr:nth-child(odd) {
    background: #fff; /* 奇數列背景色 */
}

.ztFunctionalContainer input[type="text"] {
    margin: 0 3px;
    border: 1px solid #ccc;
    font-size: var(--font-size-large);
    background-color: var(--input-bg);
}

.ztPaginationContainer {
    display: flex; /* 使用 flexbox 來排列按鈕 */
    align-items: center;
}

.ztPaginationContainer button {
    width: 60px;
    margin: 0 3px;
    height: 30px;
}

.ztPaginationContainer input[type="number"] {
    height: 20px;
    width: 50px;
}

.ztUpdateTimeContainer {
    color:#999;
    font-size: small;
}

table.ztTable .alignLeft {
    text-align: left;
}

table.ztTable .alignCenter {
    text-align: center;
}

table.ztTable .alignRight {
    text-align: right;
}

table.ztTable .noRecords {
    color: var(--no-records-color);
    font-size: 1.25em; /* 使用相對單位 */
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}
