/* ===================================================================== */
/* Table 元件相關樣式 */
/* ===================================================================== */

:root {
    --border-color: #999;
    --header-footer-bg: #f9f9f9;
    --highlight-color: #6f70bb;
    --no-records-color: red;
    --input-bg: #ecf7ef;
    --inner-padding: 5px;
    --font-size-large: 120%;
    --font-size-normal: 100%;
    --font-size-small: 75%;
    --margin: 10px 3px;
}

table.ztTable {
    border: 1px solid var(--border-color);
    border-collapse: collapse; /* 合併邊框 */
    width: 100%;
    overflow-y: auto; /* 啟用垂直滾動條 */
}

table.ztTable thead,
table.ztTable tfoot {
    border: 1px solid var(--border-color);
    font-weight: bold;
    line-height: 1.5; /* 使用相對單位 */
    text-align: center;
    background-color: var(--header-footer-bg);
}

table.ztTable tbody {
    line-height: 1.5; /* 使用相對單位 */
}

table.ztTable th {
    position: sticky;
    top: 0; /* 固定在容器的頂部 */
    z-index: 1; /* 確保標題欄位在內容上方 */
}

table.ztTable caption {
    color: var(--highlight-color);
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

table.ztTable tr:nth-child(odd) {
    background: #fff; /* 奇數列背景色 */
}

.ztSearchTerm {
    padding: var(--inner-padding); /* 設定內邊距 */
    margin: var(--margin);

    height: 40px; /* 設定輸入框的高度 */
    line-height: 40px; /* 設定行高，使文字垂直居中 */
    box-sizing: border-box; /* 確保內邊距不影響總寬度 */
}

/* 改變 placeholder 的樣式 */
.ztSearchTerm::placeholder {
    color: #888;
    font-size: var(--font-size-small);
}

.ztFunctionalContainer input[type="text"],
.ztPaginationContainer input[type="number"] {
    margin: var(--margin);
    border: 1px solid var(--border-color);
    font-size: var(--font-size-large);
    background-color: var(--input-bg);
}

.ztPaginationContainer button {
    width: 60px;
    height: 30px;
    margin: var(--margin);
}

.ztUpdateTimeContainer {
    color: #999;
    font-size: small;
}

table.ztTable .alignLeft {
    text-align: left;
}

table.ztTable .alignCenter {
    text-align: center;
}

table.ztTable .alignRight {
    text-align: right;
}

table.ztTable .noRecords {
    color: var(--no-records-color);
    font-size: 1.25em; /* 使用相對單位 */
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}
